* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background-color: var(--deep-grey);
	color: var(--white);
	font-family: 'Source Code Pro', sans-serif;
	font-size: 16px;
	height: 100vh;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	margin: 0;
	padding: 0;
	width: 100vw;
}
