.modal {
	background-color: var(--dark-grey);
	max-height: 80vh;
	max-width: 50vw;
	min-width: 50rem;
	overflow: auto;

	header,
	.content {
		padding: var(--gutter);
	}

	header {
		background-color: var(--deep-grey);
		align-items: center;
		display: flex;

		button.close {
			margin-left: auto;
		}
	}

	.content {
		border-color: var(--deep-grey);
		border-style: solid;
		border-width: 0.2rem;
		border-top-width: 0;
		position: relative;
	}

	.loader {
		align-items: center;
		background-color: hsla(var(--black-hsl), 0.7);
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
